.reply {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    width: 100%;

    form {
        display: grid;
        gap: 0.5rem;
    }
    
    textarea {
        max-width: 90%;
    }

    div {
        margin-bottom: 2rem;
    }


}