@import "../../styles/colors.scss";

.register {
    height: calc(100dvh - 121px);
    // background-color: $primaryBlueLight;
    // color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    form {
        display: grid;
        gap: 0.5rem;
       
        * {
            display: grid;
            gap: 0.3rem;
        }
    }

    a {
        text-decoration: none;
    }
}