.answer {
    padding: 1rem 3rem;
    
    .ansContainer {
        display: flex;
        align-items: center;
        gap: 1rem;
    }

    .info {
        font-size: 12px;
    }

    .shadow {
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .answerContainer {
        margin-top: 1rem;
        padding: 0.5rem;
        border-radius: 0.5rem;

        .editComment {
            textarea {
                width: 90%;
            }

            button { 
                margin: 0.5rem;
            }
        }

        .displayFlex {
            display: flex;
        }

        .displayNone {
            display: none;
        }
    }

}