@import "../../styles/colors.scss";

.new {
    height: calc(100dvh - 120px);
    background-color: $primaryBlueLight;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        display: grid;
        gap: 0.5rem;
       
        * {
            display: grid;
            gap: 0.3rem;
        }
    }

    textarea {
        margin-bottom: 1rem;
        width: 300px;
    }

    p {
        margin-right: 2rem;
    }
}