@import "../../styles/colors.scss";

.new {
    height: calc(100dvh - 120px);
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    .form {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;
        width: 100%;

        .container {
            width: 100%;

            textarea {
                margin-bottom: 1rem;
            }
            
        }
        
    }

 

    p {
        margin-right: 2rem;
    }
}