@import "../../styles/colors.scss";

.questions {
    min-height: calc(100dvh - 120px);
    width: 100%;
    display: grid;
    
    .container {
        .mapContainer {
            padding: 0.5rem;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            border-radius: 0.2rem;
            margin-bottom: 1rem;
        }

        margin:  2rem;
        
        a {
            text-decoration: none;
            color: rgb(69, 71, 71);
        }

        a :hover {
            color: rgb(143, 178, 201);
        }
        .info {
            font-size: 12px;
            color: rgb(178, 175, 175);
        }

        .line {
            border-bottom: 1px solid rgb(210, 210, 210);
            margin: 0.5rem -0.5rem 0.2rem -0.5rem;
        }
        h3 {
            font-weight: 600;
            margin: 0;
        }
        .buttonsContainer {
            display: flex;
            justify-content: space-between;
            .sortContainer {
                * {
                    margin: 0 0.5rem 1rem 0;
                }
            }

            .filterContainer {
                * {
                    margin: 0 0 1rem 0.5rem;
                }
            }
        }

    }

   
}