@import "../../styles/colors.scss";

.main {
    height: calc(100dvh - 120px);
    // background-color: $primaryBlueLight;
    // color: white;
    display: grid;
    align-items: center;
    justify-content: center;
}     