@import "../../styles/colors.scss";

.counter {
    display: flex;
    flex-direction: column;
    align-items: center;

    button {
        border: none;
        border-radius: 50%;
        border: solid rgb(210, 210, 210) 1px;
        background-color: white;
        cursor: pointer;
        font-weight: 600;
        font-size: 1.3rem;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(210, 210, 210);
    }
}