$primaryBlue: #6B838E;
$primaryBlueLight: #748F99;
$primaryBlueDark: #617783;
$secondaryBlue: #C1CDD1;



$primaryMain: #617783;
$primaryDark: #6B838E;
$errorMain: #d32f2f;
$errorDark: #c62827;
$successMain: #2e7d32;
$successDark: #1b5e20;

$outlinedButtonBackground: #f3f4fa;